<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fang-house</display-name>
  <welcome-file-list>
    <welcome-file>menu_nav</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>MyServletFilter</filter-name>
    <filter-class>com.fanghouse.filter.MyServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HouseServlet</servlet-name>
    <servlet-class>com.fanghouse.servlet.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseServlet</servlet-name>
    <url-pattern>/house_findAll</url-pattern>
    <url-pattern>/house_findById</url-pattern>
    <url-pattern>/house_save</url-pattern>
    <url-pattern>/house_updateById</url-pattern>
    <url-pattern>/house_ids</url-pattern>
    <url-pattern>/house_delete</url-pattern>
    <url-pattern>/house_Bymenuid</url-pattern>
    <url-pattern>/house_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.fanghouse.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu_nav</url-pattern>
    <url-pattern>/menu_findAll</url-pattern>
    <url-pattern>/menu_findById</url-pattern>
    <url-pattern>/menu_parentlist</url-pattern>
    <url-pattern>/menu_save</url-pattern>
    <url-pattern>/menu_updateById</url-pattern>
    <url-pattern>/menu_ids</url-pattern>
    <url-pattern>/menu_delete</url-pattern>
    <url-pattern>/menu_page</url-pattern>
    <url-pattern>/menu_sub</url-pattern>
    
    
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.fanghouse.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news_findAll</url-pattern>
    <url-pattern>/news_findById</url-pattern>
    <url-pattern>/news_save</url-pattern>
    <url-pattern>/news_updateById</url-pattern>
    <url-pattern>/news_ids</url-pattern>
    <url-pattern>/news_byMenuid</url-pattern>
    <url-pattern>/news_delete</url-pattern>
    <url-pattern>/news_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.fanghouse.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user_findAll</url-pattern>
    <url-pattern>/user_findById</url-pattern>
    <url-pattern>/user_save</url-pattern>
    <url-pattern>/user_updateById</url-pattern>
    <url-pattern>/user_ids</url-pattern>
    <url-pattern>/user_delete</url-pattern>
    <url-pattern>/user_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fanghouse.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user_login</url-pattern>
    <url-pattern>/user_search</url-pattern>
    
    <url-pattern>/user_logout</url-pattern>
    <url-pattern>/user_reg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sub_nav</servlet-name>
    <servlet-class>com.fanghouse.servlet.MenuNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sub_nav</servlet-name>
    <url-pattern>/about_nav</url-pattern>
    <url-pattern>/news_nav</url-pattern>
    <url-pattern>/server_nav</url-pattern>
    <url-pattern>/product_nav</url-pattern>
    <url-pattern>/zhaopin_nav</url-pattern>
    <url-pattern>/contact_nav</url-pattern>               
  </servlet-mapping>
  
</web-app>